<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Bibliotheque</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>createMembre</display-name>
    <servlet-name>createMembre</servlet-name>
    <servlet-class>web.Membre.createMembre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createMembre</servlet-name>
    <url-pattern>/createMembre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadMembre</display-name>
    <servlet-name>ReadMembre</servlet-name>
    <servlet-class>web.Membre.ReadMembre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadMembre</servlet-name>
    <url-pattern>/ReadMembre</url-pattern>
  </servlet-mapping>
</web-app>